html, body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Lato'; }

#nav.transparent-bg {
  background-color: transparent; }

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #111;
  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  transition: all 0.5s ease; }
  #nav #logo-holder {
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    font-size: 2em;
    padding-left: 2vw; }
    #nav #logo-holder #company-name a {
      color: #ggg;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
    #nav #logo-holder #logoimg {
      background-image: url("../media/logotrans.png");
      background-size: cover;
      height: 70px;
      width: 70px; }
  #nav li {
    display: inline-block;
    min-height: 100%; }
    #nav li a {
      display: block;
      line-height: 70px;
      color: white;
      text-align: center;
      text-decoration: none;
      padding: 16px 14px;
      min-height: 70px; }
  #nav #hamburger {
    display: none; }
  #nav #places {
    padding-right: 1.5em;
    font-size: 1.1em; }
    #nav #places a {
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      transition: all 0.5s ease; }
    #nav #places a:hover {
      background-color: rgba(65, 65, 65, 0.5); }
    #nav #places li {
      font-weight: 100; }
    #nav #places .menu {
      position: relative;
      cursor: pointer;
      backface-visibility: hidden;
      /* disables weird blue flash on chrome mobile */ }
      #nav #places .menu .sub-menu {
        display: none;
        position: absolute;
        min-width: 200px;
        padding: 0;
        right: 0;
        background-color: #3c3c3c;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2); }
        #nav #places .menu .sub-menu li {
          min-width: 100%;
          border-bottom: #111 solid 1px; }
          #nav #places .menu .sub-menu li a {
            text-align: center;
            line-height: 46.2px;
            min-height: 46.2px;
            padding: 10.56px 9.24px;
            backface-visibility: hidden;
            /* disables weird blue flash on chrome mobile */ }
          #nav #places .menu .sub-menu li a:hover {
            background-color: rgba(25, 25, 25, 0.5); }

/* hover features for devices with a mouse */
@media (min-width: 851px) {
  #nav:hover {
    background-color: #141414; } }
@media (max-width: 1023px) {
  #nav {
    background-color: #141414 !important; } }
@media (max-width: 850px) {
  #nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: space-between;
        align-items: space-between; }
    #nav #logo-holder {
      padding-left: 0;
      font-size: 1.2em;
      -ms-flex-item-align: start;
          align-self: flex-start; }
      #nav #logo-holder a {
        padding-top: 0;
        padding-bottom: 0; }
      #nav #logo-holder #logo a {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center; }
        #nav #logo-holder #logo a #logoimg {
          height: 35px;
          width: 35px; }
      #nav #logo-holder #company-name a {
        padding-left: 0; }
    #nav #places {
      padding-right: 0;
      font-size: 1em;
      display: none;
      min-width: 100%; }
      #nav #places li {
        display: list-item;
        border-top: #333 1px solid;
        border-bottom: #333 1px solid; }
        #nav #places li a {
          line-height: 35px;
          min-height: 35px; }
      #nav #places .menu .sub-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
        top: 0;
        min-width: 100%; }
    #nav #bun {
      height: 20px;
      display: -ms-flexbox;
      display: flex;
      position: fixed;
      top: 25px;
      right: 16px; }
      #nav #bun #hamburger {
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
        background-color: #aaa;
        top: 10px; }
      #nav #bun #hamburger:before, #nav #bun #hamburger:after {
        background: #aaa;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%; }
      #nav #bun #hamburger:before {
        top: 5px; }
      #nav #bun #hamburger:after {
        top: -5px; }
      #nav #bun #hamburger.clicked {
        background: transparent; }
      #nav #bun #hamburger.clicked:before {
        transform: rotate(45deg); }
      #nav #bun #hamburger.clicked:after {
        transform: rotate(-45deg); }
      #nav #bun #hamburger.clicked:before, #nav #bun #hamburger.clicked:after {
        top: 0; } }
#footer {
  height: 140px;
  background-color: #111;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  font-size: .8em; }
  #footer .restrain {
    width: 80%;
    height: 80%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media (max-width: 500px) {
      #footer .restrain {
        width: 90%; } }
    #footer .restrain #row1 {
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      #footer .restrain #row1 #footer-contact {
        display: -ms-flexbox;
        display: flex; }
        #footer .restrain #row1 #footer-contact #footer-contact-info {
          text-align: right;
          padding-left: 1em; }
      #footer .restrain #row1 #transparent {
        opacity: 0; }
    #footer .restrain #footer-line {
      height: 1px;
      width: 100%;
      background-color: #555; }
    #footer .restrain #row2 {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      width: 100%; }
      #footer .restrain #row2 #copyright {
        display: -ms-flexbox;
        display: flex; }
        @media (max-width: 375px) {
          #footer .restrain #row2 #copyright {
            -ms-flex-align: center;
                -ms-grid-row-align: center;
                align-items: center;
            -ms-flex-direction: column;
                flex-direction: column; } }

@media (max-width: 430px) {
  #footer {
    height: 200px; }
    #footer .restrain {
      width: 80%;
      -ms-flex-align: center;
          -ms-grid-row-align: center;
          align-items: center; }
      #footer .restrain #row1, #footer .restrain #row2 {
        width: auto; }
      #footer .restrain #footer-line {
        width: 192px;
        display: none; }
      #footer .restrain #row1 {
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: center;
            -ms-grid-row-align: center;
            align-items: center; }
        #footer .restrain #row1 #footer-address {
          text-align: center;
          padding-bottom: .8em; }
        #footer .restrain #row1 #footer-contact {
          -ms-flex-pack: start;
              justify-content: flex-start; }
      #footer .restrain #row2 {
        -ms-flex-pack: start;
            justify-content: flex-start; } }
#introduction-container {
  background-image: url("../media/cong1.png");
  padding: 6em 0;
  margin-top: 102px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  color: #000; }
  @media (max-width: 850px) {
    #introduction-container {
      padding: 4em 0;
      margin-top: 70px; } }
  #introduction-container #introduction {
    width: 80%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
    @media (min-width: 780px) {
      #introduction-container #introduction {
        -ms-flex-direction: row;
            flex-direction: row; } }
    #introduction-container #introduction #title {
      font-size: 2.5em;
      width: 100%;
      text-align: center; }
      @media (min-width: 780px) {
        #introduction-container #introduction #title {
          text-align: left;
          font-size: 3em; } }
    #introduction-container #introduction #company-bio {
      margin-top: 0.5em;
      width: 100%;
      text-align: center; }
      @media (min-width: 920px) {
        #introduction-container #introduction #company-bio {
          font-size: 1.2em; } }

#divider {
  height: 15em;
  background-image: url("../media/office-divider-min.jpg");
  background-size: cover;
  background-position: center center; }

#team-container {
  background-color: #EFEFEF;
  color: #000;
  padding: 1em 0;
  padding-bottom: 4em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  @media (min-width: 800px) {
    #team-container {
      padding-top: 4em; } }
  #team-container #team {
    width: 80%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
    #team-container #team .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      width: 100%; }
      @media (min-width: 600px) {
        #team-container #team .row {
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
              align-items: flex-start; } }
      #team-container #team .row #first-person {
        padding-top: 0; }
        @media (min-width: 600px) {
          #team-container #team .row #first-person {
            margin-top: 3em; } }
      @media (min-width: 800px) {
        #team-container #team .row #first-person, #team-container #team .row #second-person {
          margin-top: 0; } }
      @media (min-width: 600px) {
        #team-container #team .row .person-holder + .person-holder {
          margin-left: 2em; } }
      @media (min-width: 850px) {
        #team-container #team .row .person-holder + .person-holder {
          margin-left: 4vw; } }
      #team-container #team .row .person-holder {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: center;
            align-items: center;
        width: 100%;
        margin-top: 3em; }
        @media (min-width: 850px) {
          #team-container #team .row .person-holder {
            -ms-flex-direction: row;
                flex-direction: row;
            -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
                align-items: flex-start;
            margin-top: 4em; } }
        #team-container #team .row .person-holder .person-img {
          background-image: url("../media/default-employee-min.jpg");
          background-size: cover;
          width: 60vw;
          height: 60vw;
          border-radius: 50%; }
          @media (min-width: 600px) {
            #team-container #team .row .person-holder .person-img {
              width: 30vw;
              height: 30vw; } }
          @media (min-width: 850px) {
            #team-container #team .row .person-holder .person-img {
              width: 16vw;
              height: 16vw;
              margin-right: 1vw; } }
          @media (min-width: 1500px) {
            #team-container #team .row .person-holder .person-img {
              width: 15vw;
              height: 15vw;
              margin-right: 1vw; } }
        @media (min-width: 850px) {
          #team-container #team .row .person-holder .person-info {
            width: 21vw;
            text-align: center; } }
        @media (min-width: 1500px) {
          #team-container #team .row .person-holder .person-info {
            width: 23vw; } }
        #team-container #team .row .person-holder .person-info .person-name {
          font-size: 1.5em;
          color: #871309;
          margin-top: 1em; }
          @media (min-width: 850px) {
            #team-container #team .row .person-holder .person-info .person-name {
              text-align: right; } }
        #team-container #team .row .person-holder .person-info .person-title {
          color: #777;
          text-align: left; }
          @media (min-width: 850px) {
            #team-container #team .row .person-holder .person-info .person-title {
              text-align: right; } }
        #team-container #team .row .person-holder .person-info .person-bio {
          font-size: 1em;
          border-top: 1px solid #999;
          border-bottom: 1px solid #999;
          margin-top: 0.5em;
          padding-top: 0.5em;
          padding-bottom: 0.5em; }
          #team-container #team .row .person-holder .person-info .person-bio #new-employee {
            text-decoration: none;
            color: #871309; }
          @media (min-width: 850px) {
            #team-container #team .row .person-holder .person-info .person-bio {
              text-align: right; } }
