@import '_default';

#main-container {
	background-color: #fff;
	padding: 2em 0;
	margin-top: 102px;
	display: flex;
	justify-content: center;
	color: #111;

	@media (max-width: 850px) {
		margin-top: 70px;
	}

	@media (min-width: 1200px) {
		padding: 4em 0;
	}

	#main {
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
	
		#main-title {
			font-size: 2.5em;
			width: 100%;
			text-align: center;

			@media (min-width: 780px) {
				font-size: 3.5em;
			}
		}

		#main-desc {
			margin-top: 0.5em;
			width: 100%;
			text-align: center;
			font-size: 1.2em;
			margin-bottom: 4em;

			@media (min-width: 920px) {
				font-size: 1.5em;
			}

			@media (min-width: 850px) {
				width: 30em;
			}
		}

		.row {
			display: flex;
			flex-direction: column;

			@media (min-width: 1200px) {
				flex-direction: row;

				.unit + .unit {
					margin-left: 1.5vw;
				}
			}

			.unit {
				margin-bottom: 4em;
				display: flex;
				flex-direction: column;

				#sureline-img {
					background-image: url('../media/sureline-img.jpg');
				}

				#industrial-img {
					background-image: url('../media/industrial-piping.jpg');
				}
				#agruair-agrusan-img {
					background-image: url('../media/agruair-agrusan.jpg');
				}
				#lining-systems-img {
					background-image: url('../media/lining-systems.jpg');
				}
				#semi-finished-img {
					background-image: url('../media/semi-finished-products.jpg');
				}
				#concrete-protection-img {
					background-image: url('../media/concrete-protection.jpg');
				}

				.prod-img {
					background-position: center bottom;
					width: 80vw;
					height: 45vw;
					background-size: cover;
					margin-bottom: 0.5em;

					@media (min-width: 500px) {
						height: 30vw;
					}

					@media (min-width: 850px) {
						background-position: center;
						width: 24vw;
						height: 20vw;
						margin-right: 1vw;
						margin-bottom: 0;
					}

					@media (min-width: 1200px) {
						width: 14vw;
						height: 14vw;
						margin-right: 1.5vw;
					}
				}

				.prod-info {
					sup {
						font-size: 60%;
					}

					.prod-title {
						font-size: 1.6em;
						margin-bottom: 0.25em;
					}

					.prod-btn {
						margin-top: 1em;

						a {
							text-decoration: none;
							color: $contrast-light;
						}
					}

					@media (min-width: 850px) {
						width: 55vw;
					}

					@media (min-width: 1200px) {
						width: 22vw;
					}
				}

				@media (min-width: 850px) {
					flex-direction: row;
				}
			}
		}

		.row + .row {
			@media (min-width: 1200px) {
			//	padding-top: 2em;
			}
		}
	}
};